<div class="container">
    <div class='row box-shadow margin-tb-30px'>  
        <div class='col-lg-12'>   
            <h3 class="bold center-align white-text">Read the instructions</h3>
        </div>  
    </div>  
    
    <div class="row">
        <div class="col-lg-12 box-shadow">
            <div class="col-lg-12 white-text" style="margin:25px;">
                <p >1. Please ensure that you <strong >don't change window</strong> before submiting quiz.</p>
                <p >2. You <strong >can not pause</strong> the quiz.</p>
                <p >3. This quiz comprises of multiple-choice questions (MCQ)..</p>
                <p >4. There are a total of <strong >10 Questions</strong> in the Test.</p>
                <p >5. <strong >No Time Duration</strong> .</p>
                <p >6. There is <strong >No Negative Marking</strong> in this test .</p>
            </div>
        </div>
    </div>

    <div class='row box-shadow margin-tb-30px'>  
        <div class='col-lg-12'>   
            <h3 routerLink="/quiz1" routerLinkActive="active" class="bold center-align white-text">Start</h3>
        </div>  
    </div>  
</div>