<div class='row box-shadow margin-tb-30px'>  
    <div class='col-lg-12'>   
        <h3 class="bold center-align white-text">Quiz</h3>
    </div>  
</div>  
<div class="row white-text">
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;ಇಬ್ಬರು ವ್ಯಕ್ತಿಗಳ ವಯಸ್ಸಿನ ಅನುಪಾತವು 5 : 9 ಮತ್ತು ಅವರಲ್ಲಿ ಒಬ್ಬನ ವಯಸ್ಸು ಇನ್ನೊಬ್ಬನ ವಯಸ್ಸಿಗಿಂತ 40 ವರ್ಷ ಹೆಚ್ಚಿದೆ. ಅವರಿಬ್ಬರ ವಯಸ್ಸಿನ ಮೊತ್ತ ಎಷ್ಟು? 	The ratio of the ages of two persons is 5 : 9 and the age of one of them is greater than the other by 40 years. The sum of their ages in years is …</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">140</mat-radio-button>
            <mat-radio-button value="2">150</mat-radio-button>
            <mat-radio-button value="1">160</mat-radio-button>
            <mat-radio-button value="2">180</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;2.  ಒಬ್ಬ ತಂದೆಯ ಈಗಿನ ವಯಸ್ಸು ತನ್ನ ಮಗನ ವಯಸ್ಸಿನ ಮೂರರಷ್ಟಿದೆ. 5 ವರ್ಷಗಳ ನಂತರ ಅವರಿಬ್ಬರ ವಯಸ್ಸುಗಳ ಮೊತ್ತವು 90 ವರ್ಷಗಳಾಗುತ್ತವೆ. ಹಾಗಾದರೆ ಮಗನ ಮತ್ತು ತಂದೆ ಈಗಿನ ವಯಸ್ಸುಗಳು ಕ್ರಮವಾಗಿ Present age of a father is 3 times that of his son’s age. After 5 years sum of ages of father and a son is 90 years. Find the present age of father and the son respectively…</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">15, 45</mat-radio-button>
            <mat-radio-button value="2">20, 60</mat-radio-button>
            <mat-radio-button value="1">125, 75</mat-radio-button>
            <mat-radio-button value="2">10, 30</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;3.  ಒಬ್ಬ ತಂದೆಯ ಈಗಿನ ವಯಸ್ಸು ತನ್ನ ಮಗನ ವಯಸ್ಸಿನ ಮೂರರಷ್ಟಿದೆ. 5 ವರ್ಷಗಳ ನಂತರ ಅವರಿಬ್ಬರ ವಯಸ್ಸುಗಳ ಮೊತ್ತವು 90 ವರ್ಷಗಳಾಗುತ್ತವೆ. ಹಾಗಾದರೆ ಮಗನ ಮತ್ತು ತಂದೆ ಈಗಿನ ವಯಸ್ಸುಗಳು ಕ್ರಮವಾಗಿ Present age of a father is 3 times that of his son’s age. After 5 years sum of ages of father and a son is 90 years. Find the present age of father and the son respectively…</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">15, 45</mat-radio-button>
            <mat-radio-button value="2">20, 60</mat-radio-button>
            <mat-radio-button value="1">125, 75</mat-radio-button>
            <mat-radio-button value="2">10, 30</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;4.  ಈ ದಿನ ವರುಣನ ಹುಟ್ಟಿದ ಹಬ್ಬ. ಇವತ್ತಿನಿಂದ 1 ವರ್ಷದ ನಂತರ ಈತನ ವಯಸ್ಸು ಇಂದಿನಿಂದ 12 ವರ್ಷದ ಹಿಂದೆ ಎಷ್ಟಿತ್ತೋ, ಅದರ ಎರಡರಷ್ಟು ಆಗುತ್ತದೆ. ಹಾಗಿದ್ದಲ್ಲಿ ಈ ದಿವಸ ವರುಣನ ವಯಸ್ಸು ಎಷ್ಟು? Today is Varun’s birthday. One year from today he will be twice as old as he was 12 years ago. How old is Varun today?</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">20</mat-radio-button>
            <mat-radio-button value="2">22</mat-radio-button>
            <mat-radio-button value="1">25</mat-radio-button>
            <mat-radio-button value="2">27</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;5.  10 ವರ್ಷಗಳ ಹಿಂದೆ ಒಬ್ಬ ತಂದೆಯ ವಯಸ್ಸು ಅವನ ಮಗನ ವಯಸ್ಸಿಗಿಂತ 3 ಪಟ್ಟಾಗಿತ್ತು. 10 ವರ್ಷಗಳ ನಂತರ ತಂದೆಯ ವಯಸ್ಸು ಮಗನ ವಯಸ್ಸಿನ 2 ಪಟ್ಟು ಆಗುತ್ತದೆ. ಈಗ ತಂದೆ ಮತ್ತು ಮಗನ ವಯಸ್ಸಿನ ಅನುಪಾತವು 10 years ago the age of the father was 3 times that of his son. 10 years later father’s age will be 2 times that of the son. The ages of father and son today are in the ratio of</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">10:3</mat-radio-button>
            <mat-radio-button value="2">3:1</mat-radio-button>
            <mat-radio-button value="1">7:3</mat-radio-button>
            <mat-radio-button value="2">10:7</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;6.  ಒಬ್ಬ ತಂದೆಯ ವಯಸ್ಸು ಅವನ ಮೂರು ಮಕ್ಕಳ ಒಟ್ಟು ವಯಸ್ಸಿನ ನಾಲ್ಕರಷ್ಟಿದೆ. ಆದರೆ ಎಂಟು ವರ್ಷಗಳ ನಂತರ ಅವನ ವಯಸ್ಸು ಮಕ್ಕಳ ಒಟ್ಟು ವಯಸ್ಸಿನ ಎರಡರಷ್ಟು ಆಗಿದೆ. ಹಾಗಾದರೆ ತಂದೆಯ ವಯಸ್ಸು…. A father’s age is four times as much as the sum of the ages of his three sons. Eight years hence his age will be double the sum of the ages, the age of the father is ……</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">72</mat-radio-button>
            <mat-radio-button value="2">76</mat-radio-button>
            <mat-radio-button value="1">80</mat-radio-button>
            <mat-radio-button value="2">84</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;7.  ಕಾಮೇಶನ ಈಗಿನ ವಯಸ್ಸು ತನ್ನ ತಂದೆಯ ವಯಸ್ಸಿನ ನಾಲ್ಕನೇ ಒಂದರಷ್ಟಿದೆ. 4 ವರ್ಷಗಳ ನಂತರ ಅವರ ವಯಸ್ಸುಗಳ ಮೊತ್ತ 68 ವರ್ಷಗಳು. ಹಾಗಾದರೆ ಕಾಮೇಶನ ಈಗಿನ ವಯಸ್ಸೆಷ್ಟು? The present age of Kamesh is one-fourth of his father’s age. After 4 years , the sum of their ages will be 68. What is the present age of Kamesh?</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">10</mat-radio-button>
            <mat-radio-button value="2">12</mat-radio-button>
            <mat-radio-button value="1">15</mat-radio-button>
            <mat-radio-button value="2">16</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;8.  ಒಬ್ಬ ಹುಡುಗ ಈಗ ತನ್ನ ತಂದೆಗಿಂತ ಮೂರನೇ ಒಂದರಷ್ಟು ವಯಸ್ಸಿನವನಾಗಿದ್ದಾನೆ. 12 ವರ್ಷಗಳ ನಂತರ ಆತನು ತನ್ನ ತಂದೆಯ ವಯಸ್ಸಿನ ಅರ್ಧದ ವಯಸ್ಸಿನವನಾಗುತ್ತಾನೆ. ಹಾಗಾದರೆ ಹುಡುಗನ ಈಗಿನ ವಯಸ್ಸೆಷ್ಟು? A boy now one third as old as his father. Twelve years later he will be half as old as his father. Then the present age of the boy is</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">10</mat-radio-button>
            <mat-radio-button value="2">11</mat-radio-button>
            <mat-radio-button value="1">12</mat-radio-button>
            <mat-radio-button value="2">13</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;9.  ಹತ್ತು ವರ್ಷಗಳ ಹಿಂದೆ, ‘P’ ಎಂಬುವವನ ವಯಸ್ಸು ‘Q’ ಎಂಬುವವನ ವಯಸ್ಸಿನ ಅರ್ಧವಾಗಿತ್ತು. ಅವರ ಈಗಿನ ವಯಸ್ಸಿನ ಅನುಪಾತ 3 : 4 ಆಗಿದ್ದಲ್ಲಿ, ಅವರಿಬ್ಬರ ವಯಸ್ಸಿನ ಒಟ್ಟಾರೆ ಮೊತ್ತ ಎಷ್ಟು? Ten years ago , P was half of Q’s age. If the ratio of their present ages is 3 : 4, what will be the total of their present ages?</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">30</mat-radio-button>
            <mat-radio-button value="2">35</mat-radio-button>
            <mat-radio-button value="1">40</mat-radio-button>
            <mat-radio-button value="2">45</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
    <div class="col-lg-12 margin-tb-10px box-shadow padding-25px">
        <label  id="example-radio-group-label"><h5 >1.&nbsp;&nbsp;10.  ತಂದೆಯ ಈಗಿನ ವಯಸ್ಸು ತನ್ನ ಮಗನ ವಯಸ್ಸಿನ ಆರರಷ್ಟಿದೆ. 4 ವರ್ಷಗಳ ನಂತರ, ತಂದೆಯ ವಯಸ್ಸು ತನ್ನ ಮಗನ ವಯಸ್ಸಿನ ನಾಲ್ಕರಷ್ಟಿದೆ. ಹಾಗಾದರೆ ಮಗನ ಮತ್ತು ತಂದೆಯ ಈಗಿನ ವಯಸ್ಸುಗಳು ಕ್ರಮವಾಗಿ…. The present age of father is six times his son’s age. Four years hence, the age of the father will be four times his son’s age. The present ages, in years of the son and the father are respectively…</h5></label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">4,24</mat-radio-button>
            <mat-radio-button value="2">5,30</mat-radio-button>
            <mat-radio-button value="1">6,36</mat-radio-button>
            <mat-radio-button value="2">3,24</mat-radio-button>
        </mat-radio-group>
    </div>
</div>

<div class='row box-shadow margin-tb-30px'>  
    <div class='col-lg-12'>   
        <h3 class="bold center-align white-text">Submit</h3>
    </div>  
</div> 